:root{
    --primary-color:linear-gradient(90deg, rgba(65,17,222,0.9369306439938753) 37%, rgba(137,23,144,1) 92%);
    --secondary-color: #5c147d;
}

html, body {
    background: var(--primary-color);
}