.button{
  width:10vw;
  height: 10vh;
  background: linear-gradient(90deg, rgba(239, 64, 62, 0.8) 1%,  rgba(243, 193, 10, 0.8) 30%,  rgba(32, 243, 10, 0.8) 100% ) ;
  border-radius: 5px 25px;
  transition:  width  0.5s;
  transition-property: all;

  
}
.button:hover{
  transition-timing-function: linear;
  width: 15vw;
  background: linear-gradient(90deg, rgba(239, 64, 62, 0.8) 4%,  rgba(243, 193, 10, 0.8) 34%,  rgba(32, 243, 10, 0.8) 94% )
}

.tabuleiro{
  background-color:var(--primary-color);
}

